@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .button-wrapper {
      @apply relative bg-gradient-to-b from-slate-500 to-slate-700 rounded-lg overflow-hidden;
   }
   .button-wrapper::before {
      background: conic-gradient(
         rgba(198, 65, 122, 1) 0deg,
         rgba(151, 224, 159, 1) 0deg,
         transparent 80deg
      );
      @apply absolute top-[-50%] left-[-50%] w-[200%] h-[200%] content-[''] animate-border_spin;
   }
   .button-contain {
      @apply absolute top-[3px] left-[3px] w-[calc(100%-6px)] h-[calc(100%-6px)] bg-gradient-to-b from-slate-500 to-slate-700 rounded-lg;
   }

   .card-wrapper {
      @apply relative bg-gradient-to-b from-slate-500 to-slate-700 rounded-lg overflow-hidden;
   }
   .card-wrapper::before {
      content: "";
      position: absolute;
      width: 600px;
      height: 300%;
      background-image: linear-gradient(
         120deg,
         rgba(255, 255, 255, 0) 30%,
         rgba(255, 255, 255, 0.6),
         rgba(255, 255, 255, 0) 70%
      );
      top: -100%;
      left: -100px;
      @apply animate-shine;
   }
   .card-contain {
      @apply absolute top-[3px] left-[3px] w-[calc(100%-6px)] h-[calc(100%-6px)] bg-gradient-to-b from-slate-500 to-slate-700 rounded-lg;
   }
}
